{#
/**
 * @file
 * Default theme implementation for anonymous subscribe link.
 * Available variables:
 * - attributes: HTML attributes for the link element.
 * - title: The flag link title.
 * - url: The URL the link points to.
 */
#}
{% apply spaceless %}
  {# Set set URL from variables #}
  <a{{ attributes }}>{{ title }}</a>
{% endapply %}
